body{
    text-align: center;
}

.heading{
    margin: 0px;
    width: 100%;
    font-size: 23px;
    box-shadow: 5px 10px 170px pink;
}

.note{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.copy_right_footer{
    bottom: 0;  
    position: fixed;
    background-color: black;
    color: pink;
    text-align: center;
    width: 100%;
    line-height: 3;
    font-size: 20px;
}

canvas{
    border: 5px solid purple;
    border-radius: 20px;
}